.productListing-container {
  margin-top: 100px;
  display: flex;
  gap: 50px;
  padding: 1rem;
  height: 100%;
  text-align: left;
  font-size: large;
}

.productListing-container .filters-container {
  width: 300px;
  /* border-right: 1.5px solid rgba(128, 128, 128, 0.659); */
}

.productListing-container .filter-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.productListing-container .filter-header .filter-heading {
  font-weight: bold;
}

.productListing-container .filter-header .filter-clear-btn {
  cursor: pointer;
  background: transparent;
  width: fit-content;
  text-decoration: underline;
}
.productListing-container .filter-header .filter-clear-btn:hover {
  color: #dc7012;
}

.filter-sorting-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem 0;
  margin-bottom: 1.5rem;
  font-size: medium;
}

.sortfilter-heading,
.categoryfilter-heading,
.ratingfilter-heading {
  font-weight: 600;
}

.filter-sorting-container .radio-filter,
.filter-category-container .category-input {
  margin-right: 0.5rem;
  cursor: pointer;
  accent-color: #dc7012;
}

.filter-category-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem 0;
  margin-bottom: 1.5rem;
  font-size: medium;
}

.filter-rating-container {
  width: 10rem;
  font-size: small;
}

.filter-rating-container .ratingsfilter-text {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filter-rating-container .ratingsfilter-text p {
  font-size: small;
}
.filter-rating-container .filter-input-range {
  margin-top: 1.5rem;
  width: 9.5rem;
  accent-color: #dc7012;
}

.productListing-container .books-container {
  padding: 1rem 0;
}

.productListing-container .books-container h1 {
  margin: 0 0 2rem 2rem;
}

.productListing-container .books-container .bookListCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
