.productListing-container {
  /* margin: 120px 2vw 2vw 2vw; */
  margin-top: 120px;

  display: flex;
  gap: 50px;
  padding: 1.5rem;

  height: 100%;
  text-align: left;
  font-size: large;
}

.productListing-container .filter-container {
  width: 50rem;
  border-right: 1.5px solid rgba(128, 128, 128, 0.659);
}

.productListing-container .filter-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.productListing-container .books-container {
  margin: 1rem 0;
}

.books-container .book-heading {
  margin: 0 0 2rem 2rem;
}

.productListing-container .books-container .bookListCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
