.footer {
  width: 100%;
  height: 60vh;
  background-color: #2d2019;
  color: #fff;
  padding: 3vw;
  /* margin-top: 2vw; */

  display: flex;
  justify-content: space-between;
}

.footer .footer-about {
  width: 60%;
}

.footer .footer-about h3 {
  font-size: 3vw;
  padding-bottom: 2vw;
  font-weight: 800;
}

.footer .footer-about p {
  font-size: 1.5vw;
  padding-block: 1vw;
  font-weight: 600;
}

.footer-connectus {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer .footer-connectus .quik-links {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  padding-inline: 5px;
}
.footer .footer-connectus .connect-us {
  margin-bottom: 1.5vw;
  font-size: 2.5vw;
}

.footer-quick-links {
  text-align: center;
}

.footer .footer-quick-links .quick-links {
  margin-bottom: 1.5vw;
  font-size: 2.5vw;
}

.quick-link-text {
  color: #fff;
  font-weight: 500;
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 2vw;
  }

  .footer .footer-about {
    width: 100%;
  }

  .footer .footer-about h3 {
    font-size: 5vw;
    padding-bottom: 1vw;
  }

  .footer .footer-about p {
    font-size: 2.5vw;
    padding-block: 0.5vw;
  }

  .footer .footer-connectus .quik-links {
    font-size: 20px;
  }

  .footer .footer-connectus .connect-us,
  .footer .footer-quick-links .quick-links {
    font-size: 4vw;
  }

  .footer-connectus {
    text-align: start;
  }
  .footer-quick-links {
    text-align: left;
  }
}
