.checkout-page-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 120px;
}

.checkout-page-container .checkout-heading {
  color: #333;
  text-align: center;
  margin-bottom: 25px;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  gap: 350px;
}

.checkout-address-container {
  flex: 1;
  margin-inline: 30px;
}

.bold {
  font-weight: bold;
}

.address-list {
  margin-top: 10px;
}

.address-details-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}

.address-details-content .address-input {
  margin-right: 10px;
}

.checkout-order-summery-container {
  flex: 1;
  margin-right: 30px;
}

.order-summery-heading {
  color: #333;
  border-block: solid 1px black;
  padding-block: 5px;
  text-align: center;
}

.book-quantity-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* .book-listing-container, */
.qty-listing-container {
  text-align: end;
}

.bold-text {
  font-weight: bold;
}

.price-amount-container {
  margin-top: 20px;
}

.price-details-heading {
  color: #333;
  border-block: solid 1px black;
  text-align: center;
  padding-block: 5px;
}

.pricename-amount-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.discount-amount-container,
.delivery-charge-container,
.total-amount {
  display: flex;
  justify-content: space-between;
}

.total-amount {
  font-weight: 700;
}

.total-amount-text {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.delivery-details-container {
  margin-top: 20px;
}
.delivery-details-heading {
  border-block: solid 1px black;
  text-align: center;
  padding-block: 5px;
  color: #333;
}

.place-order-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.place-order-btn:hover {
  background-color: #45a049;
}

@media screen and (max-width: 500px) {
  .checkout-container {
    flex-direction: column;
    gap: 20px;
  }

  .checkout-address-container,
  .checkout-order-summery-container {
    margin: 0;
  }

  .checkout-address-container,
  .checkout-order-summery-container {
    flex: 1;
  }

  .checkout-container .address-details-content {
    flex-direction: column;
  }

  .checkout-container .address-details-content .address-input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
