.header-container {
  background-color: var(--primary-color);
  width: 100%;
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-container .header-logo {
  font-size: 5vw;
  font-weight: 800;
  cursor: pointer;
  padding-left: 0.5rem;
}

.header-container .header-inputsearch {
  padding: 1vw 4vw 1vw 1vw;
  font-size: 2vw;
  border: none;
}
.header-inputsearch {
  border-radius: 20px;
}

.header-container .nav-menu {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-container .nav-menu i {
  font-size: 3vw;
  padding: 1rem;
  cursor: pointer;
  /* font-weight: 700; */
}

.nav-menu .cart-length,
.nav-menu .wishlist-length {
  font-size: large;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .header-container {
    flex-direction: column;
    height: 170px;
    /* gap: 5px; */
  }

  .header-container .header-logo {
    width: 100%;
    font-size: 10vw;
    text-align: center;
  }

  .header-container .nav-menu i {
    width: 100%;
    text-align: center;
    font-size: 8vw;
    cursor: pointer;
  }

  /* .header-container .icon{
        cursor: pointer;
    } */

  .header-container .header-inputsearch {
    width: 100%;
    text-align: center;
    font-size: 5vw;
  }
}
